/* this file is replaced by tailwind-created output.css, will no longer be used. can be safely deleted. */

html {
    font-family: "Times New Roman", Times, serif;
}

li {
    margin-bottom: 12px;
    }

li button {
    font-size: 12px;
    margin-left: 20px;
    }

.error {
    width  : 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 0 0;

    box-sizing: border-box;
}
